<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="author" content="Enrique Coronado" />
  <title>Enrique Coronado</title>
  <link rel="shortcut icon" type="image/png" href="img/nep.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">




  <link rel="stylesheet" href="web/prism.css" data-noprefix />


  <!--   #################### Material Icons  ################### -->
  <link rel="stylesheet" href="web/material-icons/material-design-icons.css">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
</head>

<style>
  .v-btn {
    text-transform: none !important;
    font-family: 'Roboto Mono', monospace;
  }

  p {
    font-family: 'Roboto Mono', monospace;
  }

  h1 {
    font-family: 'Roboto Mono', monospace;
  }

  h2 {
    font-family: 'Orbitron', sans-serif;
  }

  .v-toolbar {
    font-family: 'Orbitron', sans-serif;
  }

  h3 {
    font-family: 'Orbitron', sans-serif;
  }

  h4 {
    font-family: 'Roboto Mono', monospace;
  }

  span {
    font-family: 'Orbitron', sans-serif;
  }
</style>


<body>

  <div id="app">
    <v-app id="inspire">


      <v-app-bar color="white" app dense flat clipped-right>



        <v-toolbar-title href="https://enriquecoronadozu.github.io/NEP/start" target="_blank">
          EC
        </v-toolbar-title>

        <v-spacer></v-spacer>



        <v-toolbar-items>

          <!-- <v-switch hide-details insert v-model="$vuetify.theme.dark"></v-switch> -->
          <v-btn text @click="onAbout()"> 01. About
          </v-btn>

          <v-btn text @click="onEducation">
            02. Education
          </v-btn>

          <v-btn text @click="onExperience">
            03. Experience
          </v-btn>


          <v-btn text text>
            04. Projects
          </v-btn>


          <v-btn text>
            05. Interests
          </v-btn>

          <v-btn text @click="onPublications()"> 06. Publications
          </v-btn>



        </v-toolbar-items>


        <div>&nbsp;</div>



      </v-app-bar>


      <v-main>


        <v-container grid-list-md text-center>
          <v-layout wrap align-center justify-center>



            <v-flex xs10 md10>
              <v-card color="transparent" flat>


                <v-layout wrap align-center justify-center>

                  <v-flex xs12 md12>
                    <v-card color="transparent" flat>

                      <div id="about">&nbsp;</div>
                      <div>&nbsp;</div>
                      <div>&nbsp;</div>



                      <v-row dense>



                        <v-col cols="5">
                          <p style="text-align: center;"> Hi, my name is <b> Enrique Coronado </b>
                          </p>
                          <v-img class="mx-auto" max-width="350" src="img/cute.png"></v-img>
                        </v-col>

                        <v-col cols="2">

                        </v-col>

                        <v-col cols="5">

                          <div>&nbsp;</div>
                          <div>&nbsp;</div>
                          <div>&nbsp;</div>




                          <div>
                            <p style="text-align: center; font-size: 40px; color:#616161;"><b>Robotics software </b>
                              developer & researcher
                            </p>
                          </div>

                          <p style="text-align: center;"> I code beutiful simple things. Currently, I'm focused on
                            building
                            accesible and human-centered robotics systems
                          </p>

                        </v-col>
                        <v-col cols="12">


                          <div>&nbsp;</div>
                          <div>&nbsp;</div>

                        </v-col>

                      </v-row>





                    </v-card>

                  </v-flex>

                </v-layout>



                &nbsp;&nbsp;
                &nbsp;&nbsp;
                &nbsp;&nbsp;
                &nbsp;&nbsp;




                <div>

                  <p style="text-align: justify">
                    <b>My design philosophy:</b> robotics software must be friendly, modular, interactive, beutiful and
                    intuitive
                  </p>

                  &nbsp;&nbsp;


                </div>

              </v-card>

              <v-card color="transparent" flat>
                &nbsp;&nbsp;
              </v-card>
              <v-card color="white" flat>
                &nbsp;&nbsp;
              </v-card>

              <v-card color="transparent" flat>
                &nbsp;&nbsp;
              </v-card>

              <v-card color="transparent" flat>
                &nbsp;&nbsp;

                <h1 style="text-align: justify">
                  <b>Education</b>
                </h1>

                <v-card id="education" flat color="transparent" flat>
                  <v-flex xs10 offset-xs1>
                    <v-timeline>
                      <v-timeline-item v-for="(year, i) in years" :color="year.color" :key="i" small>
                        <span slot="opposite" :class="` font-weight-bold ${year.color}--text`" style="font-size: 20px"
                          v-text="year.year"></span>
                        <div class="py-3">
                          <h3 style="font-size: 20px" :class="` font-weight-light mb-3 ${year.color}--text`">
                            {{year.title}} </h3>
                          <div>
                            <h4>
                              {{year.school}} </h4>
                          </div>
                        </div>
                      </v-timeline-item>
                    </v-timeline>
                  </v-flex>
                </v-card>

              </v-card>

              <v-card color="white" flat>
                &nbsp;&nbsp;
              </v-card>

              <v-card color="white" flat>
                &nbsp;&nbsp;
              </v-card>
              <v-card color="white" flat>
                &nbsp;&nbsp;
              </v-card>


              <v-card color="white" flat>
                &nbsp;&nbsp;

                <h1 style="text-align: justify">
                  <b>Experience</b>
                </h1>

                <v-row dense>

                  <v-col cols="12">
                    &nbsp;&nbsp;
                  </v-col>
                  <v-col cols="12">
                    &nbsp;&nbsp;
                  </v-col>
                  <v-col cols="12">
                    &nbsp;&nbsp;
                  </v-col>



                  <v-col cols="4">
                    <p style="text-align: center;"> Part-time proffesor
                    </p>
                    <div> &nbsp;&nbsp;</div>
                    <v-img class="mx-auto" max-width="300" src="img/uaslp2.jpg"></v-img>


                  </v-col>
                  <v-col id="experience" cols="4">
                    <p style="text-align: center;"> Assitant Proffesor in
                    </p>
                    <div> &nbsp;&nbsp;</div>
                    <v-img class="mx-auto" max-width="300" src="img/tuat.png"></v-img>


                  </v-col>
                  <v-col cols="4">
                    <p style="text-align: center;"> Researcher in
                    </p>
                    <div> &nbsp;&nbsp;</div>
                    <v-img class="mx-auto" max-width="300" src="img/aist.jpg"></v-img>


                  </v-col>

                  <v-col cols="4">

                    <span style="text-align: center;  font-size: 18px;"> 2013-2015
                    </span>
                  </v-col>
                  <v-col cols="4">

                    <span style="text-align: center;  font-size: 18px;"> 2020-2022
                    </span>
                  </v-col>
                  <v-col cols="4">

                    <span style="text-align: center;  font-size: 18px;"> 2022-today
                    </span>
                  </v-col>

                </v-row>

              </v-card>




              <v-card color="transparent" flat>
                &nbsp;&nbsp;

                <h1 id="projects" style="text-align: justify">
                  <b>Projects</b>
                </h1>
              </v-card>


              <v-card color="transparent" flat>
                &nbsp;&nbsp;

                <h1 id="interest" style="text-align: justify">
                  <b>Interests</b>
                </h1>
              </v-card>

              <v-card color="white" flat>
                &nbsp;&nbsp;
              </v-card>

              <v-card color="white" flat>
                &nbsp;&nbsp;
              </v-card>


              <v-card color="white" flat>
                &nbsp;&nbsp;
              </v-card>


              <v-card color="transparent" flat>

                &nbsp;&nbsp;


                <v-layout wrap align-center justify-center>

                  <v-flex xs12 md12>
                    <v-card color="transparent" flat>



                      <div>

                        <h1 style="text-align: justify">
                          <b>Publications</b>
                        </h1>

                        <v-card flat color="transparent" flat>

                          <v-card color="transparent" height="20px" flat>
                            <div>&nbsp;</div>
                          </v-card>
                          <div>&nbsp;</div>
                          <h2 id="publications"> Journal Articles
                          </h2>
                          <div>&nbsp;</div>
                          <template v-for="(item, index) in journals">
                            <v-flex xs12>
                              <v-card flat color="transparent">
                                <v-card-content>
                                  <div>
                                    <p align="left" style=" font-weight: bold;  font-size: 18px;">
                                      <v-chip text label small> {{item.year}} </v-chip> {{item.title}}
                                    </p>
                                    <p align="left" style="  font-size: 18px;">
                                      {{item.authors}} {{item.src}}
                                    </p>


                                  </div>
                                  <div>

                                    <v-btn color="indigo" v-on:click="onPDF(item.url)" text>pdf</v-btn>

                                  </div>

                                </v-card-content>

                              </v-card>
                            </v-flex>

                          </template>

                          <div>&nbsp;</div>

                          <h2>Conference Peppers
                          </h2>

                          <div>&nbsp;</div>
                          <template v-for="(item, index) in conferences">
                            <v-flex xs12>
                              <v-card flat color="transparent">
                                <v-card-content>
                                  <div>
                                    <p align="left" style=" font-weight: bold;  font-size: 18px;">
                                      <v-chip text label small> {{item.year}} </v-chip> {{item.title}}
                                    </p>
                                    <p align="left" style="  font-size: 18px;">
                                      {{item.authors}} {{item.src}}
                                    </p>


                                  </div>
                                  <div>

                                    <v-btn color="indigo" v-on:click="onPDF(item.url)" text>pdf</v-btn>

                                  </div>

                                </v-card-content>
                              </v-card>
                            </v-flex>

                          </template>


                          </template>

                          <div>&nbsp;</div>

                          <h2>Book Chapters
                          </h2>

                          <div>&nbsp;</div>
                          <template v-for="(item, index) in books">
                            <v-flex xs12>
                              <v-card flat color="transparent">
                                <v-card-content>
                                  <div>
                                    <p align="left" style=" font-weight: bold;  font-size: 18px;">
                                      <v-chip text label small> {{item.year}} </v-chip> {{item.title}}
                                    </p>
                                    <p align="left" style="  font-size: 18px;">
                                      {{item.authors}} {{item.src}}
                                    </p>


                                  </div>
                                  <div>

                                    <v-btn color="indigo" v-on:click="onPDF(item.url)" text>pdf</v-btn>

                                  </div>

                                </v-card-content>
                              </v-card>
                            </v-flex>

                          </template>


                          </template>

                          <div>&nbsp;</div>
                          <h2>Invited talks
                          </h2>
                          <div>&nbsp;</div>
                          <template v-for="(item, index) in talks">
                            <v-flex xs12>
                              <v-card flat color="transparent">
                                <v-card-content>
                                  <div>
                                    <p align="left" style=" font-weight: bold;  font-size: 18px;">
                                      <v-chip text label small> {{item.year}} </v-chip> {{item.title}}
                                    </p>
                                    <p align="left" style="  font-size: 18px;">
                                      {{item.authors}} {{item.src}}
                                    </p>
                                  </div>
                                  <div>
                                    <v-btn color="indigo" v-on:click="onPDF(item.url)" text>link</v-btn>
                                  </div>

                                </v-card-content>
                              </v-card>
                            </v-flex>

                          </template>






                        </v-card>





                      </div>







                    </v-card>


                  </v-flex>

                </v-layout>

              </v-card>

        </v-container>






      </v-main>



    </v-app>
  </div>

  <style>
    #listDiv.ul {
      text-align: left;
    }

    div.center {
      margin-left: auto;
      margin-right: auto;
      display: table;
    }

    ul {
      text-align: left;
    }

    li {
      font-size: 22px;
      color: #0277BD;
      text-align: left
    }


    p {
      font-size: 22px;
      color: #616161;
      text-align: left
    }
  </style>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="web/prism.js"></script>

  <script>

    Prism.plugins.NormalizeWhitespace.setDefaults({
      'remove-trailing': true,
      'remove-indent': true,
      'left-trim': true,
    });

    vueApp = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({

        dark_theme: true,



        books: [
          {
            title: 'From Motion to Emotion Prediction: A Hidden Biometrics Approach.',
            authors: "F. Rida, L.R. Ardila, E. Coronado, A. Nait-ali, G. Venture",
            src: "Hidden Biometrics",
            year: 2019,
            url: "https://link.springer.com/chapter/10.1007/978-981-13-0956-4_11",

          }
        ],

        years: [
          {
            color: 'cyan',
            year: '2017  - 2020',
            school: ' Tokyo University of Agriculture and Technology, Japan',
            title: 'Phd in Mechanical Systems Engineering',
          },
          {
            color: 'teal',
            year: '2015-2017 ',
            title: 'MSc in Advanced Robotics (EMARO+)',
            school: 'University of Genova, Italy, and Ecole Centrale de Nantes, France',
          },
          {
            color: 'green',
            year: '2012',
            title: 'BSc in Mechatronics Engineering',
            school: 'Autonomous University of San Luis Potosí, Mexico',
          },],

        conferences: [

        {
            title: 'Un robot dans les foyers deux jours avec pepper',
            authors: "Deuff, D., Coronado, E., Milleville-Pennel, I., Ocnarescu, I., & Venture, G.",
            src: "In Drôles d'objets: un nouvel art de faire",
            year: 2021,
            url: "https://hal.archives-ouvertes.fr/hal-03618857/document",
          },


          {
            title: 'Human Motion Retargeting to Pepper Humanoid Robot from Uncalibrated Videos Using Human Pose Estimation*',
            authors: "Khalil, H., Coronado, E., & Venture, G.",
            src: "30th IEEE International Conference on Robot & Human Interactive Communication (RO-MAN). IEEE, 2021.",
            year: 2021,
            url: "https://ieeexplore.ieee.org/abstract/document/9515495",
          },

          {
            title: 'Impression evaluation of robot’s behavior when assisting human in a cooking task*',
            authors: "Yamamoto, M., Hu, Y., Coronado, E., & Venture, G",
            src: "In 2021 30th IEEE International Conference on Robot & Human Interactive Communication (RO-MAN) (pp. 743-748). IEEE. 2021",
            year: 2021,
            url: "https://ieeexplore.ieee.org/abstract/document/9515527",
          },


          {
            title: 'User expectations of robots in public spaces: A co-design methodology',
            authors: "Tian, L., Carreno-Medrano, P., Sumartojo, S., Mintrom, M., Coronado, E., Venture, G. and Kulić, D",
            src: "In International Conference on Social Robotics, pp. 259-270. Springer, Cham, 2020.",
            year: 2020,
            url: "https://link.springer.com/chapter/10.1007/978-3-030-62056-1_22",
          },

          {
            title: 'Connecting MATLAB/Octave to Perceptual, Cognitive and Control Components for the Development of Intelligent Robotic Systems',
            authors: "Coronado, E., Rincon, L., & Venture, G",
            src: "Symposium on Robot Design, Dynamics and Control. Springer, Cham, 2020.",
            year: 2020,
            url: "https://link.springer.com/chapter/10.1007/978-3-030-58380-4_44",
          },



          {
            title: 'Designerly way of thinking in a robotics research project',
            authors: "Deuff, Dominique, Ioana Ocnarescu, Luis Enrique Coronado, Liz Rincon-Ardila, Isabelle Milleville, and Gentiane Venture.",
            src: "日本ロボット学会誌 38.8 (2020): 692-702.",
            year: 2020,
            url: "https://www.jstage.jst.go.jp/article/jrsj/38/8/38_38_692/_article/-char/ja/",
          },



          {
            title: 'Intention and Engagement Recognition for Personalized Human-Robot Interaction, an integrated and Deep Learning approach.',
            authors: "SP. Pattar, E. Coronado, LR. Ardila, G. Venture",
            src: "IEEE 4th International Conference on Advanced Robotics and Mechatronics (ICARM)",
            year: 2019,
            url: "https://ieeexplore.ieee.org/abstract/document/8834226",
          },
          {
            title: 'Robots Meet Children, Development of Semi-Autonomous Control Systems for Children-Robot Interaction in the Wild.',
            authors: "E. Coronado, X. Indurkhya, G. Venture",
            src: "IEEE 4th International Conference on Advanced Robotics and Mechatronics (ICARM)",
            year: 2019,
            url: "https://ieeexplore.ieee.org/abstract/document/8833751",
          },
          {
            title: 'Adaptive cognitive robot using dynamic perception with fast deep-learning and adaptive on-line predictive control.',
            authors: "L. Rincon,  E. Coronado,  C. Law, & G. Venture",
            src: "IFToMM World Congress on Mechanism and Machine Science (pp. 2429-2438)",
            year: 2019,
            url: "https://link.springer.com/chapter/10.1007/978-3-030-20131-9_240",
          },
          {
            title: 'Development of Intelligent Behaviors for Social Robots via User-Friendly and Modular Programming Tools.',
            authors: "E. Coronado, F. Mastrogiovanni, G. Venture. ",
            src: "IEEE Workshop on Advanced Robotics and its Social Impacts (ARSO) (pp. 62-68).",
            year: 2018,
            url: "https://ieeexplore.ieee.org/abstract/document/8625839"
          },
          {
            title: 'Design of a Human-Centered Robot Framework for End-User Programming and Applications.',
            authors: "E. Coronado, F. Mastrogiovanni, G. Venture. ",
            src: "ROMANSY 22–Robot Design, Dynamics and Control, 450-457.",
            year: 2018,
            url: "https://link.springer.com/chapter/10.1007/978-3-319-78963-7_56"
          },
          {
            title: 'Expressive states with a robot arm using adaptive fuzzy and robust predictive controllers.',
            authors: "L. Rincon, E. Coronado, H. Hendra, J. Phan, Z. Zainalkefli, G. Venture. ",
            src: " 2018 3rd International Conference on Control and Robotics Engineering (ICCRE)",
            year: 2018,
            url: "https://ieeexplore.ieee.org/abstract/document/8376425",
          },

          {
            title: 'Gesture-based Robot Control: Design Challenges and Evaluation with Humans.',
            authors: "E. Coronado, J. Villalobos, B. Bruno, F. Mastrogiovanni. ",
            src: "2017 IEEE International Conference on Robotics and Automation (ICRA).",
            year: 2017,
            url: "https://ieeexplore.ieee.org/abstract/document/7989321",
          },

          {
            title: 'Time-based identification of human ankle impedance via Microsoft Kinect.',
            authors: "M.E. Segura, E. Coronado, A. Cardenas, D. Piovesan. ",
            src: " IEEE Signal Processing in Medicine and Biology Symposium (SPMB) (pp. 1-5).",
            year: 2015,
            url: "https://ieeexplore.ieee.org/abstract/document/7405424",
          },
        ],

        journals: [

          {
            title: ' Evaluating quality in human-robot interaction: A systematic search and classification of performance and human-centered factors',
            authors: "Coronado, E., Kiyokawa, T., Ricardez, G. A. G., Ramirez-Alpizar, I. G., Venture, G., & Yamanobe, N. ",
            src: "Journal of Manufacturing Systems, 63, 392-410.",
            year: 2022,
            url: "https://doi.org/10.1016/j.jmsy.2022.04.007",
          },

          {
            title: ' Applying kansei/affective engineering methodologies in the design of social and service robots: A systematic review',
            authors: "Coronado, E., Gentiane V., and Natsuki Y.",
            src: "International Journal of Social Robotics 13.5 (2021): 1161-1171.",
            year: 2021,
            url: "https://link.springer.com/article/10.1007/s12369-020-00709-x",
          },

          {
            title: ' Towards a modular and distributed end-user development framework for human-robot interaction',
            authors: "Coronado, E., Deuff, D., Carreno-Medrano, P., Tian, L., Kulić, D., Sumartojo, S., Mastrogiovanni, F. and Venture, G.",
            src: "IEEE Access",
            year: 2021,
            url: "https://ieeexplore.ieee.org/abstract/document/9323043",
          },

          {
            title: ' Visual programming environments for end-user development of intelligent and social robots, a systematic review',
            authors: "Coronado, E., Mastrogiovanni, F., Indurkhya, B., & Venture, G.",
            src: "Journal of Computer Languages",
            year: 2021,
            url: "https://doi.org/10.1016/j.cola.2020.100970",
          },

          {
            title: ' Towards iot-aided human–robot interaction using nep and ros: A platform-independent, accessible and distributed approach',
            authors: "Coronado, E., & Venture, G.",
            src: "Sensors, 20(5), 1500.",
            year: 2020,
            url: "https://www.mdpi.com/1424-8220/20/5/1500",
          },


          {
            title: " Self-Tuning Extended Kalman Filter Parameters to Identify Ankle's Third-Order Mechanics",
            authors: "E. Coronado, A. González, A. Cárdenas, M. Maya, E. Chiovetto, D. Piovesan",
            src: "Journal of Biomechanical Engineering ",
            year: 2020,
            url: " https://doi.org/10.1115/1.4048042",
          },


          {
            title: 'Can Human-Inspired Learning Behaviour Facilitate Human–Robot Interaction?',
            authors: "Carfì, A., Villalobos, J., Coronado, E., Bruno, B., & Mastrogiovanni, F. ",
            src: "International Journal of Social Robotics, 1-14.",
            year: 2019,
            url: "https://link.springer.com/article/10.1007/s12369-019-00548-5",
          },

          {
            title: 'Vision-based Control of a Delta Parallel Robot via Linear Camera-Space Manipulation.',
            authors: "E. Coronado, M. Maya, A. Cardenas, O. Guarneros, D. Piovesan. ",
            src: "Journal of Intelligent & Robotic Systems 85 (1), 93-106.",
            year: 2017,
            url: "https://link.springer.com/article/10.1007/s10846-016-0413-5",
          },

          {
            title: 'Analysis of recoverable falls via Microsoft Kinect: Identification of third-order ankle dynamics.',
            authors: "M.E. Segura, E. Coronado, A. Cardenas, D. Piovesan. ",
            src: "Journal of Dynamic Systems, Measurement, and Control 138 (9), 091006",
            year: 2016,
            url: "https://dynamicsystems.asmedigitalcollection.asme.org/article.aspx?articleid=2499047",
          },

        ],

        talks: [

          {
            title: 'Empowering End-Users with Behavior Trees, Development of Human-Robot Applications Performing "in the Wild"',
            authors: "Coronado, E.",
            src: "IROS 2019 Workshop: Behavior Trees for Robotics Systems: Tools, Applications, and Lessons Learned, Macau, 4th-8th November, 2019",
            year: 2019,
            url: "https://behavior-trees-iros-workshop.github.io/",
          },
        ],



        ref1:
          `
        @article{coronado2020towards,
              title={Towards IoT-aided human--robot interaction using NEP and ROS: A platform-independent, accessible and distributed approach},
              author={Coronado, Enrique and Venture, Gentiane},
              journal={Sensors},
              volume={20},
              number={5},
              pages={1500},
              year={2020},
              publisher={Multidisciplinary Digital Publishing Institute}
            }`,





        color_nav: "grey lighten-2",



      }),

      created() {
        this.initialize()



      },

      methods: {
        initialize() {

        },

        onPDF: function (value) {
          window.open(value, '_blank')
        },

        onAbout() {
          document.getElementById("about").scrollIntoView({ behavior: 'smooth', block: 'center' });

        },

        onPublications() {

          document.getElementById("publications").scrollIntoView({ behavior: 'smooth', block: 'center' });

        },

        onEducation() {
          document.getElementById("education").scrollIntoView({ behavior: 'smooth', block: 'center' });
        },

        onExperience() {

          document.getElementById("experience").scrollIntoView({ behavior: 'smooth', block: 'center' });

        },
      }



    })
  </script>
</body>

</html>