<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="Enrique Coronado" />
    <title>Rize</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="viewport" content="width=device-width" />
    

    <!--   ############### Vue  ############## -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    

    <!-- ################# Rize library  ######################## -->
    <script src="rize/rize.js"></script>
    

    <style>
        #app {
          font-family: 'Avenir', Helvetica, Arial, sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-align: center;
          color: #212121;
        }
    </style>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
</head>
<body>


    <div id="app">
        <v-app id="inspire">
          <v-layout justify-center >
            <v-flex xs12 sm12  >
            <v-card color="rgb(0, 0, 0, 0)" flat>
                <v-container fluid>
                    <v-layout row>
                        <v-flex xs4 order-lg2>
                            <v-card color="rgb(0, 0, 0, 0)" flat>
                                <v-avatar :tile="tile" :size="150" color="rgb(0, 0, 0, 0)" flat >
                                    <img src="img/yo.jpg" alt="avatar">
                                  </v-avatar>
                                    <v-container > 

                                    </v-container>
                            </v-card>
                          </v-flex>
                          <v-flex xs8>
                            <v-card color="rgb(0, 0, 0, 0)" flat>
                                <div class="headline"><span  style="font-size: 35px">Enrique Coronado</span></div> 
                                <div><span  style=" color: rgb(101, 101, 103); font-size: 23px">Ph.D Student</span></div> 
                                <div>&nbsp;</div> 
                                <div><span  style="font-size: 16px">A mexican researcher in Human-Robot Interaction, Software Architectures for Robotics, Intelligent Social Robots and End-User Robot Programming.</span></div> 
                                <div>&nbsp;</div> 
                                <div><span  style=" font-weight: bold;font-size: 16px">Tokyo, Japan</span></div> 
                            
                              </v-card>
                          </v-flex>
                        </v-layout>
                     

                  </v-container>

            </v-card>
              
                <v-tabs fixed-tabs>
                    <v-tab > Education </v-tab>
                    <v-tab> Skills </v-tab>
                    <v-tab> Publications </v-tab>
                    <v-tab> Research </v-tab>
                    <v-tab> Teaching </v-tab>
                    <v-tab> Links </v-tab>

                    <v-tab-item>
                        <v-card flat color="rgb(0, 0, 0, 0)" flat>
                        <v-timeline>
                            <v-timeline-item v-for="(year, i) in years" :color="year.color" :key="i" small >
                              <span slot="opposite" :class="`headline font-weight-bold ${year.color}--text`"  v-text="year.year" ></span>
                              <div class="py-3">
                                <h2 :class="`headline font-weight-light mb-3 ${year.color}--text`"> {{year.title}} </h2> <div>
                                  {{year.school}}
                                </div>
                              </div>
                            </v-timeline-item>
                          </v-timeline>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item>
                        <v-card flat color="rgb(0, 0, 0, 0)" flat>
                        

                        <v-layout row>
                            <v-flex xs6 order-lg2>
                                <v-card color="rgb(0, 0, 0, 0)" flat>
                                    <div>&nbsp;</div>
                                    <div> <span  style="font-size: 14px">Programming Languages</span>  </div> 
                                    <div>&nbsp;</div>
                                    <div class="text-xs-center">
                                        <v-chip>Python </v-chip>
                                        <v-chip>Javascript</v-chip>
                                        <v-chip>C++ </v-chip>
                                        <v-chip>C# </v-chip>
                                        <v-chip>Java </v-chip>
                                      </div>
                                      <div>&nbsp;</div>

                                      <div> <span  style="font-size: 14px">Libraries and Frameworks</span> </div> 
                                      <div>&nbsp;</div>
                                      <div class="text-xs-center">
                                          <v-chip>Vue.js</v-chip>
                                          <v-chip>ROS</v-chip>
                                          <v-chip>OpenCV</v-chip>
                                          <v-chip>Keras</v-chip>
                                          <v-chip>Flask</v-chip>
                                          <v-chip>Node.js</v-chip>
                                      </div>
                                      <div>&nbsp;</div>

                                      <div> <span  style="font-size: 14px">Others</span> </div> 
                                      <div>&nbsp;</div>
                                      <div class="text-xs-center">
                                          <v-chip>Artificial Intelligence</v-chip>
                                          <v-chip>Usability Studies</v-chip>
                                          <v-chip>Computer Vision</v-chip>
                                          <v-chip>Distributed Systems</v-chip>
                                      </div>

                                </v-card>
                              </v-flex>
                              <v-flex xs6>
                                <v-card color="rgb(0, 0, 0, 0)" flat>
                                    <div>&nbsp;</div>
                                    <div> <span  style="font-size: 14px">English</span> <v-rating v-model="rating_en"></v-rating> </div> 
                                    <div></div>
                                    <div> <span  style="font-size: 14px">Spanish</span> <v-rating v-model="rating_es"></v-rating> </div> 
                                    <div></div>
                                    <div> <span  style="font-size: 14px">Japanese</span> <v-rating v-model="rating_jp"></v-rating> </div> 
                                    <div></div> 
                                    <div> <span  style="font-size: 14px">Italian</span> <v-rating v-model="rating_it"></v-rating> </div> 
                                    <div></div>
                                    <div> <span  style="font-size: 14px">French</span> <v-rating v-model="rating_fr"></v-rating> </div> 
                                    <div></div>
                                  </v-card>
                              </v-flex>
                            </v-layout>

                        
                        </v-card>
                    </v-tab-item>
                    <v-tab-item>
                        <v-card flat color="rgb(0, 0, 0, 0)" flat>
                        <v-card-text>Publications</v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item>
                        <v-card flat color="rgb(0, 0, 0, 0)" flat>
                        <v-card-text>Research</v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item>
                        <v-card flat color="rgb(0, 0, 0, 0)" flat>
                        <v-card-text>Teaching</v-card-text>
                        </v-card>
                    </v-tab-item>
                    <v-tab-item>
                        <v-card flat color="rgb(0, 0, 0, 0)" flat>
                        <v-card-text>Blog</v-card-text>
                        </v-card>
                    </v-tab-item>

                  </v-tabs>

                  

              </v-card>
            </v-flex>
          </v-layout>
        </v-app>
      </div>

    <!--
    <div id="app" >
        <v-app v-bind="{ dark: theme }" >
            <v-layout>
                <v-toolbar absolute color="teal lighten-3" dark  scroll-off-screen scroll-target="#scrolling-techniques" >
                <v-toolbar-title>Research</v-toolbar-title>
                <v-spacer></v-spacer>
                  <v-flex xs12 sm12  >
                    <v-card flat>
                    </v-card>
                  </v-flex>

            </v-layout>
      
            <v-layout justify-center >
                <v-flex xs12 sm12  >
                  <v-card color="rgb(0, 0, 0, 0)" flat>
                    <v-container > <div class="headline"><span  style="font-size: 80px">Enrique Coronado</span></div> </v-container>
                  </v-card>
                  <v-card color="rgb(0, 0, 0, 0)" flat >
                    <v-container  fluid grid-list-md >
                      <v-layout row wrap >
                        <v-flex v-for="card in cards"  v-bind="{ [`xs${card.flex}`]: true }" :key="card.title" >
                          <v-card color="grey darken-3" flat  dark @click.native="doSomething(card.title)" >
                            <v-img  :src="card.src"  height="250px" >
                              <v-container fill-height fluid pa-2 > <v-layout fill-height> <v-flex xs12 align-end flexbox> <span class="headline white--text" v-text="card.title"></span> </v-flex> </v-layout> </v-container>
                            </v-img>
                          <v-card-text>  {{ card.content }}  </v-card-text>
                          </v-card>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card>
                </v-flex>
              </v-layout>
              
        </v-app>
      </div>-->

</body>


<script>

   new Vue({
  el: '#app',
  data: () => ({
    theme : false,
    rating_en: 4,
    rating_jp: 2,
    rating_es: 5,
    rating_it: 3,
    rating_fr: 1,
    years: [
      {
        color: 'cyan',
        year: '2017  - now',
        school:' Tokyo University of Agriculture and Technology, Japan',
        title:'Phd student in Mechanical Systems Engineering', 
      },
      {
        color: 'teal',
        year: '2015-2017 ',
        title:'MSc in Advanced Robotics (EMARO+)',
        school:'University of Genova, Italy, and Ecole Centrale de Nantes, France', 
      },
      {
        color: 'green',
        year: '2012',
        title:'BSc in Mechatronics Engineering',
        school:'Autonomous University of San Luis Potosí, Mexico', 
      },
      /*{
        color: 'amber',
        year: '1990', 
        title:'x',
        school:'y', 
      },
      {
        color: 'orange',
        year: '2000',
        title:'x',
        school:'y', 
      }*/
    ]
  }),
  methods: {
    doSomething:function (value){
    }
  }

})


</script>


</html>

